.recipe-card {
  background-color: #f7e9ce;
  border: 1px solid #f7e9ce;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space out content evenly */
  gap: 1rem;
  overflow: hidden; /* Prevent overflow */
}

.recipe-title {
  font-size: 1.3rem;
  color: #712e25;
  margin-bottom: 0.5rem;
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; 
}

.recipe-description {
  font-size: 1rem;
  color: #555;
}

.recipe-time {
  font-size: 0.85rem;
  color: #333;
  display: flex;
  justify-content: space-between;
}

.recipe-card-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.full-recipe-button {
  background-color: #712e25;
  color: #f7e9ce;
  padding: 0.50rem 0.75rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.full-recipe-button:hover {
  background-color: #f7e9ce;
  color: #712e25;
}

.delete-button {
  background-color: #e74c3c;
  color: #f7e9ce;
  padding: 0.50rem 0.75rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #c0392b;
}

/* Grid layout for recipe cards */
.recipe-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  justify-items: center;
}

.favorite-button {
  background: none;
  padding: 5px;
  border: none;
  font-size: 1.5rem;
  color: #f39c12; /* Gold color for favorite */
  cursor: pointer;
  transition: transform 0.2s ease;
}

.favorite-button:hover {
  background-color: #f7e9ce;
}

.favorite-button:focus {
  outline: none;
}